<!doctype html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Szczepienia</title>
    <link rel="stylesheet" href="/styles/style.css">
</head>
<body>
<h1>Lista szczepień</h1>
<div class="main">
    <a class="main-link" href="/patient">Pacjenci</a>
    <a class="main-link" href="/vaccination">Szczepionki</a>
</div>
<hr>
{{{body}}}


</body>
</html>
